* {
  margin: auto;
  position: relative;
  align-items: center; 
  padding: 0 0;
 }
 label {
   display: block;
   margin: 0 5%;
 }
 h3 {
   display: block;
   margin: 10px 43%;
   position: relative;
 }
 input {
   width: 100%;
   height: 35px;
   margin: 5px 5%;
 }
 .button-up {
   height: 30px;
   width: 45px;
   background-color: rgb(60, 114, 185);
   left: 92%;
 }
 
 table, th, td {
   border: 1px solid;
 }
 table {
   width: 100%;
   border-collapse: collapse;
   border-radius: 5px;
 }
 th {
   height: 30px;
 }
 td {
   text-align: center;
 }
 .button-down{
   padding: 10px 20px ;
 }